.artist_container
  .artist_info
    -#= link_to artist do
    = image_tag artist.avatar.thumb('150x150').url
    %span(class = "artist_name") #{artist.name}

  %ul.artist_images
    - artist.images.each do |image|
      -#%span(class=".@artist_image")
      %li
        =link_to image do
          = image_tag image.picture.thumb('150x150').url