/*
Syntax error: Undefined mixin 'inline-block'.
        on line 43 of /Users/ovsiiko/Sites/try/app/assets/stylesheets/artists.css.sass, in `inline-block'
        from line 43 of /Users/ovsiiko/Sites/try/app/assets/stylesheets/artists.css.sass

Backtrace:
/Users/ovsiiko/Sites/try/app/assets/stylesheets/artists.css.sass:43:in `inline-block'
/Users/ovsiiko/Sites/try/app/assets/stylesheets/artists.css.sass:43
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/engine.rb:300:in `_render'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.1.19/lib/sass/engine.rb:247:in `render'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `block in compile'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `block in run'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/bin/compass:29:in `block in <top (required)>'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/bin/compass:43:in `call'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.1/bin/compass:43:in `<top (required)>'
/usr/local/bin/compass:19:in `load'
/usr/local/bin/compass:19:in `<main>'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `eval'
/Users/ovsiiko/.rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'inline-block'.\A         on line 43 of /Users/ovsiiko/Sites/try/app/assets/stylesheets/artists.css.sass, in `inline-block'\A         from line 43 of /Users/ovsiiko/Sites/try/app/assets/stylesheets/artists.css.sass"; }
